/* CONFIGURANDO AS CORES */
:root {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #fa3d3d;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #8c8f9f;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #f4f5f9;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d3c4;
}

body {
  font-size: 1.6rem;
  /* background-color: var(--bs-gray-500); */
  color: var(--secondary-text-color) !important;
  height: 100vh;
}
/* ESTILIZANDO O CONTAINER DOS ESTOQUES */
.monitoramento-estoque {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}
.total-stock-box {
  background-color: var(--bg-divider-color);
  border-radius: 1.2rem;
  padding: 3rem;
}
.stock-tag {
  font-weight: bold;
  color: var(--primary-color-blue);
  margin-bottom: 2rem;
  display: inline-block;
}
.total-stock-number {
  font-size: 3.2rem;
  font-weight: bold;
}

.low-stock {
  background-color: var(--bs-orange);
  color: var(--bs-white);
}

.low-stock .stock-tag {
  color: inherit;
}
.btn-add-new-stock {
  background-color: var(--primary-color-blue);
  padding: 1rem 2rem;
  font-size: inherit;
  color: var(--bg-divider-color);
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-add-new-stock:hover {
  background-color: var(--secondary-color-blue);
}
.main-stock-section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-registos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}
.registos-box {
  background-color: var(--bg-divider-color);
  padding: 3rem;
  border-radius: 1.2rem;
  min-width: 48rem;
}
.registos-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
}
.entradas-product {
  padding: 2rem;
}
.product {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 0;
}
.product-subheader {
  font-weight: 600;
}

.heading-low-stock {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 0;
}
.stock-low {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 0;
}
.low-stock-container {
  margin-bottom: 3rem;
}
.container-registos {
  overflow-x: scroll;
}

@media (max-width: 48em) {
  .monitoramento-estoque {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 26em) {
  .monitoramento-estoque {
    grid-template-columns: repeat(1, 1fr);
  }
}
.low-stock-container .container,
.stocks {
  overflow-x: scroll;
}
.low-stock-container .estaticos,
.stocks .estaticos {
  min-width: 100rem;
}
