/* CONFIGURANDO AS CORES */
:root {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #000;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #eee;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d3c4;
  --sucess-color: #43b943;
  --main-gradient: linear-gradient(to top left, #99aaf5, #4361ee)
}

.dark-mode {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #f0f1f5 --less-dark-grey-heading-02: #d7d9e3;
  --primary-text-color: #fafafa;
  --secondary-text-color: #b3b6c4;
  --bg-divider-color: #2c2f41;
  --background-color: #242630;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d31e;
  --sucess-color: #43b943;
  --main-gradient: linear-gradient(to top left, #9aaaf5, #4361ee)
}

body {
  font-size: 1.6rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.sort {
  background: none;
  color: var(--primary-text-color);
  font-size: inherit;
}

.sort:focus {
  outline: none;
}

.sort-box {
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.btn-add-supplier {
  background-color: var(--primary-color-blue);
  padding: 1rem 2rem;
  font-size: inherit;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.btn-add-supplier :hover {
  background-color: var(--secondary-color-blue);
}

.btn-add-supplier ion-icon {
  font-size: 2.2rem;
}

.main__content-section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-container {
  margin-top: auto;
}

.btn-pages button {
  background: none;
  font-size: 1.8rem;
  color: inherit;
}

.btn-pages {
  display: flex;
  gap: 1rem;
}

.btn-pages .curr-page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-blue);
  height: 4rem;
  width: 4rem;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid var(--border-color);

}

.grid-supplier {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.supplier-list {
  background-color: var(--bg-divider-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  min-width: 37.5rem;
  padding: 0 2rem;
}

.supplier-list .container {
  display: grid;
  min-height: 55rem;
  overflow-x: scroll;

}

.heading-supplier {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr 1fr 1.5fr;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  color: var(--primary-text-color);
  min-width: 100rem;
}

.supplier-box {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr 1fr 1.5fr;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  min-width: 100rem;
}

.supplier-box:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.supplier-box div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.supplier-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
}

.supplier-icon ion-icon {
  font-size: 2.4rem;
  color: var(--primary-color-blue);
}

.supplier-name {
  color: var(--primary-text-color);
  font-weight: 600;
}

.action-supplier-btns {
  display: flex;
  gap: 1rem;
}

.supplier-status {
  background-color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.supplier-active {
  color: var(--sucess-color);
}

.supplier-inactive {
  color: var(--primary-color-red);
}

.action-supplier-btns button {
  background: none;
  padding: 1rem;
  font-size: 2.4rem;
  color: inherit;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* FORMULÁRIO PARA ADICIONAR NOVO CLIENTE
 */

.add-new-supplier-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(5px);
  z-index: 99999;
  padding: 2rem;
}

.form-new-supplier {
  background-color: var(--bg-divider-color);
  max-width: 50rem;
  padding: 3rem 2rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;

}

.form-header {
  font-size: 2.4rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header .close-form-new-client {
  cursor: pointer;
}

.add-new-supplier-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group input,
.form-group textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
  color: inherit;
  border: 1px solid var(--border-color);
  font-size: initial;
}

.form-group input:focus,
.form-group textarea {
  outline: none;
}

.btns-group {
  display: flex;
  gap: 1rem;
}

.btns-group button {
  padding: 1rem 2rem;
  font-size: inherit;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: inherit;
}

.add-supplier-btn {
  background-color: var(--primary-color-blue) !important;
  border-color: transparent;
  color: #fff !important;
}

/* DETALHES DO FORNECEDOR */

.supplier-detail-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.357);
  backdrop-filter: blur(5px);
  z-index: 99999;
  padding: 2rem;
}

.supplier-detail-box {
  padding: 2rem;
  background-color: var(--bg-divider-color);
  max-width: 50rem;
  margin: 5rem auto;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.supplier-header {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: var(--primary-text-color);
}

.close-detail-supplier {
  cursor: pointer;
}

.detail-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
}

.detail-label {
  font-weight: 600;
}

.label {
  color: var(--primary-text-color);
  font-weight: 600;
}

.supplier-description {
  font-size: inherit;
  font-weight: normal;
}