/* CONFIGURANDO AS CORES */

:root {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #8c8f9f;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #f4f5f9;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d3c4;
}

.dark-mode {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #fa3d3d;
  --dark-grey-heading-01: #f0f1f5
  --less-dark-grey-heading-02: #d7d9e3;
  --primary-text-color: #bec0c9;
  --secondary-text-color: #b3b6c4;
  --bg-divider-color: #2c2f41;
  --background-color: #2a2d3d;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d31e;
}
/* CONFIGURAÇÃO GERAL */

* {
  font-family: "Ubuntu Sans", sans-serif;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0;
}

*::-webkit-scrollbar {
  max-width: 3px;
  height: 0rem;
  position: absolute;
}
*::-webkit-scrollbar {
  height: 0rem;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bs-body-bg); /* Cor do botão de rolagem */
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-blue);
}

*:hover::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  height: 100vh;
  color: var(--secondary-text-color);
}
.main-section {
  max-width: 100%;
  display: grid;
  grid-template-columns: 25fr 80fr;
  grid-template-rows: 10fr 85fr;
  height: 100%;
  position: relative;
  transition: all 0.7s ease;
}

/* WORKING WITH THE MENU TOGGLE */
.menu-hidden .main-section {
  grid-template-columns: 5fr 95fr;
}
.menu-hidden .main-nav-link span {
  user-select: none;
  display: none;
  pointer-events: none;
}

.menu-hidden .side__bar {
  padding: 2rem 1rem;
  padding-right: 0;
}
.menu-hidden .icon-logo {
  display: block;
}
.menu-hidden .full-logo {
  display: none;
}
.menu-hidden .logo {
  padding: 0rem 1rem;
}

/* ESTILIZANDO O HEADER */
.main__header {
  grid-column: 2/-1;
  padding: 0 2rem;
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-divider-color);
  gap: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  position: relative ;
  transition: none;
}
.header__profile-img {
  width: 4.6rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--background-color);
}
.profile-infor-box{
  background-color: var(--bg-divider-color);
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.091);
  padding: 1rem 2rem;
  position: absolute;
  bottom: -197%;
  right: 0.4%;
  border-radius: 0.5rem;
  transform: translateY(10%);
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
  position: none;
  z-index: -999;
}
.show .profile-infor-box{
  transform: translateY(0%);
  opacity: 1;
  z-index: 999;

}
.profile-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
.profile-list li:not(:last-child){
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
}
.p-link{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.p-link:hover{
  color: var(--primary-color-blue);
}
.p-link ion-icon{
  font-size: 2.4rem;
}
.btn-log-out{
  color: var(--primary-color-red);
}
.profile-click-icon{
  transition: 0.5s;
  font-size: 2rem;
}
.show .profile-click-icon{
  transform: rotate(-180deg);
}
.input__search {
  background: none;
  width: 100%;
  font-size: inherit;
  color: inherit;
}
.input__search:focus {
  outline: none;
}

.search__div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search__div ion-icon {
  font-size: 2.2rem;
  width: 2.4rem;
}
.permission{
  display: flex;
  justify-content: space-between;
}
.search__div div {
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--background-color);
  background-color: var(--background-color);
}
.header__user {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__profile-box {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.profile__name-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header__p-name {
  font-size: 1.4rem;
  font-weight: 600;
}
.permission {
  font-size: 1.3rem;
  align-items: center;
}
.header__btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 2.2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--background-color);
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
.header__btn:hover {
  background-color: rgba(67, 98, 238, 0.089);
}
.input__search{
  border-right: 2px solid var(--border-color);
}
/* ESTILIZANDO O ASIDE BAR */
.side__bar {
  grid-row: 1/-1;
  padding: 2rem 3rem;
  padding-right: 0;
  background-color: var(--bg-divider-color);
  overflow-y: scroll;
  height: 100%;
  transition: all 0.3s ease-in;
  z-index: 999;
}

.side__bar:hover::-webkit-scrollbar {
  max-width: 0px;
  height: 0rem;
  position: absolute;
}
/* ESTILIZANDO O SCROLL BAR */
.side__bar::-webkit-scrollbar {
  max-width: 0px;
  height: 0rem;
  position: absolute;
}
.side__bar::-webkit-scrollbar {
  height: 0rem;
}
.side__bar::-webkit-scrollbar-thumb {
  background-color: var(--bs-body-bg); /* Cor do botão de rolagem */
  border-radius: 10px;
}
.side__bar::-webkit-scrollbar-thumb {
  background-color: var(--bs-orange); /* Cor do botão de rolagem */
}
/* Estilizando a pista (trilha) da barra de rolagem */
.side__bar:hover::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

.side__bar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do botão de rolagem ao passar o mouse */
}
.logo {
  font-size: 2.4rem;
  color: var(--bs-orange);
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}
.icon-logo {
  display: none;
}
.main-nav {
  padding: 0;
}
.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}
.main-nav-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  width: 100%;
  transition: all 0.3s;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  border-right: 3px solid transparent;
}
.main-nav-link ion-icon {
  font-size: 2.2rem;
}

.main-nav-link:hover {
  background-color: rgba(67, 98, 238, 0.089);
  border-color: var(--primary-color-blue);
  color: var(--primary-color-blue);
  font-weight: 500;
}

.active-link {
  background-color: rgba(67, 98, 238, 0.089);
  border-color: var(--primary-color-blue);

  /* color: var(--bs-orange); */
}
.log-out-btn {
  background: none;
  margin-top: 2rem;
  font-size: inherit;
  color: inherit;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.log-out-btn ion-icon {
  font-size: 2.2rem;
  color: inherit;
}

/* ESTILIZANDO O MAIN SECTION CONTENT */
.main__content-section {
  /* background-color: var(--bs-gray-100); */
  padding: 2rem;
  overflow-y: scroll;
}

.section-header {
  margin-bottom: 2rem;
}
.sect-head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.headingh2 {
  color: var(--dark-grey-heading-01);
}
.grid {
  display: grid;
  margin-bottom: 4rem;
}
.grid-04 {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-02 {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.total-box {
  background-color: var(--bg-divider-color);
  padding: 3rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all 0.5s;
}
.total-box:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.094);
}
.total-container {
  width: 100%;
}
.total-icon {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-blue);
  max-height: 7rem;
  max-width: 7rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 2.4rem;
}

.total-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.label__total-purchase-due {
  font-size: 2.2rem;
  font-weight: bold;
}

.tot-box-02 {
  background-color: var(--bg-divider-color);
  color: var(--bs-white);
  padding: 3rem;
  justify-content: space-between !important;
  position: relative;
  overflow: hidden;
}

.tot-box-02 .total-icon {
  background: none;
  color: var(--primary-color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  font-size: 30rem;
  position: absolute;
  bottom: 13%;
  right: 10%;
  transition: all 0.5s;
}
.tot-box-02:hover .total-icon {
  transform: scale(130%);
}
.weekly-earning {
  justify-content: space-between;
}
.week-span-text {
  font-weight: bold;
  color: var(--primary-color-blue);
}
.statics_recent-container {
  display: grid;
  grid-template-columns: 55fr 45fr;
  margin-top: 3rem;
  gap: 2rem;
}
.icon {
  font-size: 8rem;
  color: var(--primary-color-blue);
}
.grid-more {
  grid-template-columns: 40fr 70fr;
}
.weekly-earning .label__total-purchase-due {
  font-size: 2.8rem;
}
.weekly-earning .total-text {
  font-size: 1.4rem;
}
.percentage {
  color: var(--primary-color-blue);
  font-weight: bold;
}
.statics-box,
.recent-products-notification-box {
  background-color: var(--bg-divider-color);
  border-radius: 1.2rem;
  border: var(--bs-border-style) var(--bs-border-width) var(--bs-border-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  min-width: 37.5rem;
}
.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
}
.heading-recent-notification ion-icon {
  font-size: 2.2rem;
}
.see-all-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.see-all-link:hover {
  color: var(--primary-color-blue);
}
.estaticos {
  padding: 0 2rem;
  overflow-x: scroll;
}
.canvas {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-recent-notification {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
  padding: 1.5rem 0.2rem;
  text-align: left;
}
.heading-recent-notification div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product-notification {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding: 2rem 0.2rem;
}
.product-notification:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.product-notification div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.payment-type,
.transations-id {
  font-size: 1.4rem;
  color: var(--primary-color-blue);
}

.most-salled {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
.most-salled div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.most-salled .product-price,
.sale-num {
  font-weight: bold;
  color: var(--bs-gray);
}
.hidden {
  display: none;
}
