/* CONFIGURANDO AS CORES */
:root {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #000;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #eee;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d3c4;
  --sucess-color: #43b943;
  --main-gradient: linear-gradient(to top left, #99aaf5, #4361ee)
}

.dark-mode {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #f0f1f5 --less-dark-grey-heading-02: #d7d9e3;
  --primary-text-color: #fafafa;
  --secondary-text-color: #b3b6c4;
  --bg-divider-color: #2c2f41;
  --background-color: #242630;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d31e;
  --sucess-color: #43b943;
  --main-gradient: linear-gradient(to top left, #9aaaf5, #4361ee)
}

body {
  font-size: 1.6rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.section-account-settings {
  background-color: var(--bg-divider-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 3rem;
}

.account-menu {
  padding: 3rem;
  padding-left: 0;
  border-right: 1px solid var(--border-color);
}

.account-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 500;
}

.account-menu li {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.account-menu li:hover {
  padding: 1rem 2rem;
  background-color: rgba(67, 98, 238, 0.08);
  display: inline;
  border-radius: 0.5rem;
  color: var(--primary-color-blue);
}

.information-account-container {
  padding: 3rem 4rem;
}

.heading-h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-edit-profile-info {
  background: none;
  font-size: 2.4rem;
  color: inherit;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.profile-img-picture {
  display: flex;
  gap: 3rem;
  padding: 3rem 0;
  border-bottom: 1px solid var(--border-color);
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile-img-picture div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-full-name {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.account-type {
  font-weight: 500;
}

.heading-h4 {
  font-size: 2rem;
  color: var(--primary-text-color);
  margin-bottom: 2rem;
}

.profile-personal-information {
  padding: 3rem 0;
}

.profile-personal-information:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.profile-grid div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-label {
  font-weight: 500;
  color: var(--primary-text-color);
}