/* ESTILOS PARA A PÁGINA DOS PRODUCTOS */

/* #4361EE
  -
  PRIMARY
  COLOR
  [BLUE]
  #34363F
  -
  HEADING
  H1
  (DARK GREY)
  #565863
  -
  HEADING
  H2
  (LESS DARK GREY)
  #5B5D67
  -
  Text
  color
  primary
  #8C8F9F
  -
  Text
  color
  secondary
  #60616A
  -
  Box
  divider
  #F4F5F9
  -
  background
   */
:root {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #fa3d3d;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #8c8f9f;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #f4f5f9;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d3c4;
}

.dark-mode {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #fa3d3d;
  --dark-grey-heading-01: #f0f1f5
  --less-dark-grey-heading-02: #d7d9e3;
  --primary-text-color: #bec0c9;
  --secondary-text-color: #b3b6c4;
  --bg-divider-color: #2c2f41;
  --background-color: #2a2d3d;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  /* --border-color: #d3d3d3c4; */
  --border-color: #d3d3d31e;

}
body {
  font-size: 1.6rem;
  /* background-color: var(--bs-gray-500); */
  height: 100vh;
}
.btn-add-new-product {
  background-color: var(--primary-color-blue);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: var(--bg-divider-color);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: inherit;
  transition: all 0.3s;
  color: #fff;
}
.btn-add-new-product:hover {
  background-color: var(--secondary-color-blue);
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort {
  background: none;
  color: var(--primary-text-color);
  font-size: inherit;
}
.sort:focus {
  outline: none;
}
.sort-box {
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading-recent-notification {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: left;
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
  padding: 1.5rem 0.2rem;
}
.product-notification {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: left;
  padding: 1.5rem 0.2rem;
  align-items: center;
}

.product-action {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product-action button {
  background: none;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  cursor: pointer;
  color: inherit;
}

.select-btn {
  display: inline-block;
  cursor: pointer;
}
.product-container .container {
  overflow-x: scroll;
}
.estaticos {
  min-width: 100rem;
  min-height: 40rem;
}

/* ESTILIZANDO O SCROLL BAR */
.container::-webkit-scrollbar {
  max-width: 3px;
  height: 0rem;
  position: absolute;
}
.container::-webkit-scrollbar {
  height: 0.5rem;
}
.container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-blue); /* Cor do botão de rolagem */
  border-radius: 10px;
}

/* Estilizando a pista (trilha) da barra de rolagem */
.container:hover::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do botão de rolagem ao passar o mouse */
}

.pagination {
  font-size: 1.4rem;
  color: inherit;
}

.btn-pages {
  display: flex;
  align-items: center;
  gap: 2rem;
}

ion-icon {
  font-size: 2.2rem;
  color: inherit;
}
.btn-pages button {
  background: none;
  font-size: 1.8rem;
}
.btn-pages .curr-page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-blue);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-weight: bold;
  color: var(--bg-divider-color);
}

.hidden {
  display: none;
}

/* PRODUCT CONTAINER ADD */
.add-product-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.466);
  background-attachment: fixed;
  backdrop-filter: blur(4px);
  padding: 0;
}
.sub-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem;
}
.add-product-container .container {
  display: grid;
  border-radius: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  min-width: 37rem;
  max-width: 60rem;
  margin: 5rem auto;
  opacity: 1;
}

.new-product-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
  width: 100%;
}
.form-group {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
.group {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.form-group input,
.form-group select,
textarea {
  background: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: var(--bg-divider-color);
}
.form-group input:focus,
.form-group select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--border-color);
}
.product-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-category span {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.product-category ion-icon {
  font-size: 1.4rem;
}
.confirmar-new-product {
  background-color: var(--primary-color-blue);
  padding: 1rem 2rem;
  border-radius: 5px;
  color: var(--bg-divider-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: inherit;
  color: #fff;
}
.cancelar-new-product {
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: inherit;
}
.btns {
  display: flex;
  gap: 2rem;
}
.confirmar-new-product:hover {
  background-color: var(--secondary-color-blue);
}

.create-category {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.575);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-category header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.categ-header {
  font-size: 2rem;
}
.category-form {
  background-color: var(--background-color);
  max-width: 40rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.2rem;
}
.create-category input {
  padding: 1rem;
  font-size: inherit;
  border-radius: 0.5rem;
  background-color: var(--bg-divider-color);
  color: inherit;
}
.create-category input:focus {
  outline: none;
  border: 1px solid var(--border-color);

}
.btn-add-category {
  padding: 1rem;
  font-size: inherit;
  border-radius: 0.5rem;
  background-color: var(--primary-color-blue);
  color: #fff;
}
.btn-add-category:hover {
  background-color: var(--secondary-color-blue);
}
.hidden {
  display: none !important;
}

/* DETALHES DO PRODUCTO */

.details-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.466);
  background-attachment: fixed;
  backdrop-filter: blur(4px);
  padding: 0;
}
.details-container .container {
  display: grid;
  border-radius: 1rem;
  padding: 4rem 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-divider-color);
  margin: 5rem auto;
  min-width: 37rem;
  max-width: 60rem;
}
.product-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details-group {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
}
.details-group span {
  font-size: 2rem;
  font-weight: 600;
}
.barcode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-group .product-description-details {
  font-weight: 400 !important;
  font-size: 1.6rem;
}
.details-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.btn-close-details {
  background: none;
  font-size: 1.8rem;
}
