/* CONFIGURANDO AS CORES */
:root {
  --primary-color-blue: #4361ee;

  --secondary-color-blue: #99aaf5;
  --secondary-color-blue: rgba(153, 170, 245, 0.5);

  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #000;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #eee;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d3c4;
  --sucess-color: #43b943;
  --main-gradient: linear-gradient(to top left, #99aaf5, #4361ee)
}

.dark-mode {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #ff6868;
  --dark-grey-heading-01: #f0f1f5 --less-dark-grey-heading-02: #d7d9e3;
  --primary-text-color: #fafafa;
  --secondary-text-color: #b3b6c4;
  --bg-divider-color: #2c2f41;
  --background-color: #242630;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #d3d3d31e;
  --sucess-color: #43b943;
  --main-gradient: linear-gradient(to top left, #9aaaf5, #4361ee)
}

body {
  font-size: 1.8rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.filter-analitycs-container {
  display: flex;
  gap: 1rem;
}

.filter-analitycs-container span {
  background-color: var(--bg-divider-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s;
}

.filter-analitycs-container span:hover {
  background-color: var(--primary-color-blue);
  color: #fff;
}

.filtered {
  background-color: var(--primary-color-blue) !important;
  color: #fff;
}

.days-week-days-month-container {
  background-color: var(--bg-divider-color);
  padding: 2rem 3rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.days-week-days-month-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

.main__content-section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekday {
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.weekday::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0.3rem;
  background-color: var(--primary-color-blue);
  border-radius: 5rem;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.weekday:hover::after {
  width: 100%;
}

.active-weekday::after {
  transform: translateY(-0%);
  width: 0.7rem;
  width: 100%;
  height: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
}


.analitycs-summary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.analityc-summary-box {
  background-color: var(--bg-divider-color);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analityc-summary-box .summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.analityc-summary-box .analityc-tag {
  font-weight: 600;
}

.analityc-summary-box .analityc-total-earning {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--primary-text-color);
}

.analityc-summary-box .analityc-summary-icon {
  background-color: var(--background-color);
  padding: 2rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-color-blue);
}

.all-analitycs-charts {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 2rem;

}

.all-analitycs-charts .box-analityc {
  background-color: var(--bg-divider-color);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.analitycs-header {
  font-weight: 600;
  color: var(--primary-text-color);
  font-size: 2rem;
  border-bottom: 1px solid var(--border-color);
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
}

.most-selled-analitycs {
  margin-top: 2rem;
}

.most-selled-heading {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2fr 2fr;
  font-weight: 500;
  gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
  align-items: center;

}

.most-selled-product {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2fr 2fr;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
}

.most-selled-product:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.product-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-text-color);
  font-weight: 600;
}

.product-name ion-icon {
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  color: var(--primary-color-blue);
}