/* CONFIGURANDO AS CORES */
:root {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #fa3d3d;
  --dark-grey-heading-01: #565863;
  --less-dark-grey-heading-02: #8c8f9f;
  --primary-text-color: #8c8f9f;
  --secondary-text-color: #60616a;
  --bg-divider-color: #fff;
  --background-color: #f4f5f9;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  --border-color: #bbb8b844;
}
.dark-mode {
  --primary-color-blue: #4361ee;
  --secondary-color-blue: #99aaf5;
  --primary-color-red: #f78888;
  --dark-grey-heading-01: #f0f1f5
  --less-dark-grey-heading-02: #d7d9e3;
  --primary-text-color: #bec0c9;
  --secondary-text-color: #b3b6c4;
  --bg-divider-color: #2c2f41;
  --background-color: #2a2d3d;
  --btn-border-radius: 1rem;
  --box-border-radius: 1.2rem;
  /* --border-color: #8f8d8d25; */
  --border-color: #d3d3d31e;

}

body {
  font-size: 1.6rem;
  /* background-color: var(--bs-gray-500); */
  color: var(--secondary-text-color) !important;
  height: 100vh;
}
/* ESTILIZANDO O CONTAINER DOS ESTOQUES */
.monitoramento-estoque {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}
.total-stock-box {
  background-color: var(--bg-divider-color);
  border-radius: 1.2rem;
  padding: 3rem;
}
.stock-tag {
  font-weight: bold;
  color: var(--primary-color-blue);
  margin-bottom: 2rem;
  display: inline-block;
}

.sort {
  background: none;
  color: var(--primary-text-color);
  font-size: inherit;
}
.sort:focus {
  outline: none;
}
.sort-box {
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.total-stock-box div{
  display: flex;
  justify-content: space-between;
}
.total-stock-box ion-icon{
  font-size: 3rem;
  color: var(--primary-color-blue);
  display: inline-block;
background-color: var(--background-color);
padding: 1rem;
border-radius: 100rem;
}
.total-stock-number{
  font-size: 3.8rem;
  font-weight: 600;
}
.low-stock {
  background-color: var(--bs-orange);
  color: var(--bs-white);
}

.low-stock .stock-tag {
  color: inherit;
}
.btn-add-new-stock {
  background-color: var(--primary-color-blue);
  padding: 1rem 2rem;
  font-size: inherit;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-add-new-stock:hover {
  background-color: var(--secondary-color-blue);
}
.main-stock-section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-action{
  display: flex;
  gap: 0.5rem;
}
.product-action button {
  background: none;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: inherit;
}

.btn-pages button {
  background: none;
  font-size: 1.8rem;
  color: inherit;
}
.btn-pages{
  display: flex;
  gap: 1rem;
}
.btn-pages .curr-page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-blue);
  height: 4rem;
  width: 4rem;
  color: #fff ;
  border-radius: 50%;
  font-weight: bold;
}

.container-registos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}
.registos-box {
  background-color: var(--bg-divider-color);
  padding: 3rem;
  border-radius: 1.2rem;
  min-width: 48rem;
}
.registos-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem;
}
.entradas-product {
  padding: 2rem;
}
.product {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 0;
}
.product-subheader {
  font-weight: 600;
}

.heading-low-stock {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 0;
}
.stock-low {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--border-color);
  padding: 2rem 0;
}
.low-stock-container {
  margin-bottom: 3rem;
}
.container-registos {
  overflow-x: scroll;
}

@media (max-width: 48em) {
  .monitoramento-estoque {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 26em) {
  .monitoramento-estoque {
    grid-template-columns: repeat(1, 1fr);
  }
}
.low-stock-container .container,
.stocks {
  overflow-x: scroll;
}
.low-stock-container .estaticos,
.stocks .estaticos {
  min-width: 100rem;
}
